@import './base.css';

#app {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-weight: normal;
  .left-panel {
    background-color: var(--theme-color-brown);
    flex-grow: 0.4;
    background-image: url('@/assets/wood-grain.svg');
    background-size: cover;
    background-position: center;
  }
  .app-wrapper {
    padding: 2rem 0 0 0;
    width: 1100px;
    flex-grow: 2;
    // max-width: 1280px;
  }
  .right-panel {
    background-color: var(--theme-color-brown);
    flex-grow: 0.4;
    background-image: url('@/assets/wood-grain.svg');
    background-size: cover;
    background-position: center;
  }
  .loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .c1 {
    background-color: #96feda;
    border: 1px solid #1fab4f;
    color: #1fab4f;
  }
  .c2 {
    background-color: #3df0fa;
    border: 1px solid #17c2ce;
    color: #17c2ce;
  }
  .c3 {
    background-color: #17c2ce;
    border: 1px solid #3df0fa;
    color: #3df0fa;
  }
  .c4 {
    background-color: #d4bcfe;
    border: 1px solid #a47cdb;
    color: #a47cdb;
  }
  .c5 {
    background-color: #a47cdb;
    border: 1px solid #d4bcfe;
    color: #d4bcfe;
  }
  .c6 {
    background-color: #fc795c;
    border: 1px solid #fec5b2;
    color: #fec5b2;
  }
}

@media (hover: hover) {
}
/* a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
/* } */

@media (min-width: 1460px) {
}
